---
pageTitle: Доставка та оплата
---

<link rel="stylesheet" href="{{root}}assets/css/banner-pages.css">
<section class="banner-pages">
	<img class="object-fit-cover object-fit" src="{{root}}assets/images/delivery-banner.jpg" alt="">
	<div class="inner">
		<h1 class="banner-pages__title">Доставка та оплата</h1>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/delivery-info.css">
<section class="delivery-info">
	<div class="inner">
		<div class="delivery-info__item">
			<h2 class="delivery-info__title">доставка</h2>
			<div class="delivery-info__block">
				<p>
					<strong>Відправка відбувається щодня</strong><br>
				</p>
				<ul>
					<li>замовлення, оформлені в будні, вирушать до вас в день замовлення або наступного дня.</li>
					<li>замовлення, оформлені у вихідні, поїдуть до вас у понеділок або вівторок</li>
				</ul>
			</div>
			<div class="delivery-info__block">
				<p>
					<strong>Доставка по Україні на відділення “Нової пошти”</strong><br>
					Посилка зберігається на пошті протягом 5 днів, після чого діє автоматичне повернення.
				</p>
			</div>
			<div class="delivery-info__block">
				<p>
					<strong>Самовивіз з магазинів у Вінниці</strong><br>
					Резерв зберігається протягом 3 днів при замовленні на самовивіз без оплати
				</p>
			</div>
			<div class="delivery-info__block">
				<p>
					<strong>Доставка в межах Вінниці безкоштовна</strong><br>
					Ми безкоштовно доставляємо замовлення в межах Вінниці
				</p>
			</div>
		</div>
		<div class="delivery-info__item">
			<h2 class="delivery-info__title">оплата</h2>
			<div class="delivery-info__block">
				<p>
					<strong>Оплата замовлення при самовивозі з Piddubnyi clinic можлива:</strong><br>
				</p>
				<ul>
					<li>готівкою в момент отримання замовлення</li>
					<li>банківською карткою на сайті при оформленні замовлення</li>
					<li>банківською карткою через термінал в момент отримання замовлення</li>
				</ul>
			</div>
			<div class="delivery-info__block">
				<p>
					<strong>Оплата замовлення при самовивозі з відділення або доставці кур'єром Нової Пошти Україною
						можлива:</strong>
				</p>
				<ul>
					<li>готівкою в момент отримання замовлення</li>
					<li>банківською карткою на сайті при оформленні замовлення*</li>
					<li>банківською картою при оформленні замовлення або в момент отримання через термінал</li>
				</ul>
			</div>
		</div>
	</div>
</section>
