---
pageTitle: Home page
---

<!--
todo: All examples to BAM.
todo: Styles.
-->

<link rel="stylesheet" href="{{root}}assets/css/banner.css">
<section class="banner" id="section-1">
	<!--
	todo: object-fit modifier to BAM
	-->
	<img src="{{root}}assets/images/test-bg.png" class="object-fit object-fit-cover" alt="">
	<div class="inner">
		<h1 class="banner__title">Hello world!</h1>
		<h2 class="banner__sub-title">Lorem ipsum dolor sit amet.</h2>
		<!--
		todo: We need standard paragraph for link.
		-->
		<p class="banner__p"><a href="#" class="btn">Button</a></p>
	</div>
</section>

<script type="module" src="{{root}}assets/js/modules/tabs.js"></script>
