---
pageTitle: Preloader
---

<link rel="stylesheet" href="{{root}}assets/css/preloader.css">
<section class="preloader">
	<div class="inner">
		<img src="{{root}}assets/images/logo-devocean.svg" alt="">
		<h1 class="title">Something interesting is coming...</h1>
		<p>Under strict guidance <a href="https://devocean.pro/">https://devocean.pro/</a></p>
		<lottie-player src="{{root}}/lottie/animation.json" background="transparent" speed="1" loop
					   autoplay></lottie-player>
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<img src="{{root}}assets/images/logo-client.svg" alt="">
		<p class="text">Coming soon</p>
	</div>
</section>
