---
pageTitle: Доставка та оплата
---

<link rel="stylesheet" href="{{root}}assets/css/banner-pages.css">
<section class="banner-pages">
	<img class="object-fit-cover object-fit" src="{{root}}assets/images/rules-bg.jpg" alt="">
	<div class="inner">
		<h1 class="banner-pages__title">Правила користування сайтом</h1>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/rules-info.css">
<section class="rules-info">
	<div class="inner">
		<h2>1. Загальні умови:</h2>
		<ul>
			<li>Користувачів: ви визнаєте себе користувачем сайту та зобов'язуєтеся дотримуватися умов цих правил.</li>
			<li>Зміни: адміністрація сайту залишає за собою право змінювати чи доповнювати правила користування без
				попереднього повідомлення.
			</li>
		</ul>
		<h2>2. Контент та Інтелектуальна Власність:</h2>
		<ul>
			<li>Авторські Права: увесь контент на сайті, включаючи текст, зображення та інші матеріали, захищений
				авторськими правами.
			</li>
			<li>Використання: ви можете використовувати матеріали сайту тільки для особистого використання. Будь-яке
				комерційне використання без попереднього дозволу заборонено.
			</li>
		</ul>
		<h2>3. Реєстрація та Аккаунт:</h2>
		<ul>
			<li>Облікові Записи: деякі функції сайту можуть вимагати реєстрації облікового запису. Ви несете
				відповідальність за конфіденційність свого пароля та інформації облікового запису.
			</li>
			<li>Відповідальність: ви несете відповідальність за всі дії, що відбуваються під вашим обліковим записом.
			</li>
		</ul>
		<h2>4. Поведінка Користувачів:</h2>
		<ul>
			<li>
				Заборонено:
				<ul>
					<li>Розміщення образливого чи незаконного контенту.</li>
					<li>Зловживання коментарів чи форумів.</li>
					<li>Бездозвільне збирання інформації про інших користувачів.</li>
				</ul>
			</li>
			<li>Співпраця: ми вдячні за будь-які повідомлення про порушення правил від наших користувачів.</li>
		</ul>
		<h2>5. Завдання та Обмеження Відповідальності</h2>
		<ul>
			<li>Точність: ми робимо все можливе для того, щоб інформація на сайті була точною, але не несемо
				відповідальності за можливі помилки чи неповноту.
			</li>
			<li>Взаємодія зі Зовнішніми Сайтами: ми не несемо відповідальності за вміст чи політику конфіденційності
				сторонніх сайтів, до яких можна перейти через наші посилання.
			</li>
		</ul>
	</div>
</section>
