<section class="blog-nav">
	<div class="inner">
		<h2 class="blog-nav__title">Topics</h2>
		<div class="menu-blog">
			<ul id="menu-blog-menu" class="menu-blog__items">
				<li class="menu-blog__item menu-blog__item_level_1">
					<a href="#" class="menu-blog__link menu-blog__link_level_1">Lorem ipsum</a></li>
				<li class="menu-blog__item menu-blog__item_level_1">
					<a href="#" class="menu-blog__link menu-blog__link_level_1">Lorem ipsum</a></li>
				<li class="menu-blog__item menu-blog__item_level_1">
					<a href="#" class="menu-blog__link menu-blog__link_level_1">Lorem ipsum</a></li>
				<li class="menu-blog__item menu-blog__item_level_1">
					<a href="#" class="menu-blog__link menu-blog__link_level_1">Lorem ipsum</a></li>
				<li class="menu-blog__item menu-blog__item_level_1">
					<a href="#" class="menu-blog__link menu-blog__link_level_1">Lorem ipsum</a></li>
				<li class="menu-blog__item menu-blog__item_level_1 menu-blog__item_current">
					<a href="#" class="menu-blog__link menu-blog__link_level_1 current-menu-item">Lorem ipsum</a></li>
				<li class="menu-blog__item menu-blog__item_level_1">
					<a href="#" class="menu-blog__link menu-blog__link_level_1">Lorem ipsum</a></li>
				<li class="menu-blog__item menu-blog__item_level_1">
					<a href="#" class="menu-blog__link menu-blog__link_level_1">Lorem ipsum</a></li>
				<li class="menu-blog__item menu-blog__item_level_1">
					<a href="#" class="menu-blog__link menu-blog__link_level_1">Lorem ipsum</a></li>
			</ul>
		</div>
	</div>
</section>
