<footer class="page-footer">
	<div class="inner">
		<div class="page-footer__top">
			<div class="page-footer__content">
				<div class="logo">
					<img src="assets/images/logo-footer.png" alt="">
				</div>
				<div class="page-footer__contacts">
					<p class="page-footer__phone">
						<a href="tel:+380735533505" class="page-footer__link-phone">+38 (073) 553-35-05</a>
					</p>
					<p class="page-footer__address">
						<a href="#" class="page-footer__a">м. Вінниця, площа Гагаріна, 2 (Вінницький універмаг, ліве
							крило, 2 поверх)</a></p>
					<div class="page-footer__time">
						<p class="page-footer__time-item">10:00-19:00</p>
						<p class="page-footer__time-item">Без вихідних</p>
					</div>
				</div>
			</div>
			{{#>menu
					class="menu-footer-main"
					label="Footer Main"
					keyboard=true
			}}
				{{#>menu-item title="Каталог"}}
					{{#>sub-menu}}
						{{>menu-item title="Новинки"}}
						{{>menu-item title="SALE"}}
						{{>menu-item title="Бренди"}}
						{{>menu-item title="Обличчя"}}
						{{>menu-item title="Волосся"}}
						{{>menu-item title="Тіло"}}
						{{>menu-item title="Набори"}}
					{{/sub-menu}}
				{{/menu-item}}
				{{#>menu-item title="Для клієнтів"}}
					{{#>sub-menu}}
						{{>menu-item title="Блог"}}
						{{>menu-item title="Доставка та оплата"}}
						{{>menu-item title="Послуги"}}
						{{>menu-item title="Про нас"}}
					{{/sub-menu}}
				{{/menu-item}}
			{{/menu}}
			<div class="page-footer__social">
				<h2>Ми у соцмережах</h2>
				{{>social-links class="social-links_toggle"}}
			</div>
		</div>
		<div class="page-footer__bottom">
			<div class="page-footer__wrapper">
				<p class="page-footer__copyright">© 2023 Relume. All rights reserved.</p>
			</div>
			<div class="page-footer__by">
				{{>by title="Made by" href="https://devocean.pro" name="DevOcean"}}
			</div>
			<div class="page-footer__terms">
				<div class="page-footer__pay">
					<img src="{{root}}assets/images/image-pay.png" alt="">
				</div>
				{{#>menu
						class="menu-footer-links"
						label="Footer Links"
						keyboard=true
				}}
					{{>menu-item title="Політика конфіденційності "}}
					{{>menu-item title="Оферта"}}
				{{/menu}}
			</div>
		</div>
	</div>
</footer>
