<div class="page-header__content">
	<div class="page-header__top">
		<div class="inner">
			{{>social-links class="social-links_toggle"}}
			<a href="tel:+380735533505" class="page-header__top-phone">+38 (073) 553-35-05</a>
			<div class="page-header__time">
				<p class="page-header__time-item">10:00-19:00</p>
				<p class="page-header__time-item">Без вихідних</p>
			</div>
		</div>
	</div>
	<div class="page-header__middle">
		<div class="inner">
			<div class="wrap__search">
				<button class="button__search"></button>
				<div class="wrap-search">
					<form class="search-form__form" role="search" method="get" action="/">
						<label class="search-form__label">
							<span class="screen-reader-text">Search for:</span>
							<input class="search-form__input" type="search" placeholder="Шукати" value="" name="s">
						</label>
						<input class="search-form__submit" type="submit"
							   value="{{#if value}}{{value}}{{else}}Search{{/if}}">
					</form>
					<span class="close-button"></span>
				</div>
			</div>
			{{>logo logo1='assets/images/logo.png' logo2=''}}
			<nav class="menu-header-second" aria-label="Header Second">
				<ul class="menu-header-second__items" data-role="menubar" data-accessibility-menu>
					<li class="menu-header-second__item account">
						<a class="menu-header-second__link" href="#"
						   data-role="menuitem"></a></li>
					<li class="menu-header-second__item cart menu-cart-link">
						<a class="menu-header-second__link" href="#"
						   data-role="menuitem"></a></li>
					<li class="menu-header-second__item wish-list">
						<a class="menu-header-second__link" href="#"
						   data-role="menuitem"></a></li>

					<li class="menu-header-second__item delivery">
						<a class="menu-header-second__link" href="#"
						   data-role="menuitem">Доставка та оплата</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="page-header__bottom">
		<div class="inner">
			<div class="nav-menu">

				{{#>menu
						class="menu-header-main"
						label="Header Main"
						expend="auto-close"
						keyboard="auto-close"
						hover=false
				}}
					{{#>menu-item title="Послуги"}}
						{{#>sub-menu}}
							{{>menu-item title="Записатись на прийом"}}
						{{/sub-menu}}
					{{/menu-item}}
					{{>menu-item title="Бренди"}}
					{{>menu-item title="SALE"}}
					{{#>menu-item title="Обличчя" modifier="has-mega-menu" mega-menu=true}}
						{{#>sub-menu}}
							{{>menu-item title="Засоби для очищення"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-1.svg" alt=""></span>'
							}}
							{{>menu-item title="Засоби для тонізації обличчя"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-2.svg" alt=""></span>'
							}}
							{{>menu-item title="Засоби для ексфоліації обличчя"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-3.svg" alt=""></span>'
							}}
							{{>menu-item title="Сироватки для обличчя"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-4.svg" alt=""></span>'
							}}
							{{>menu-item title="Усі засоби"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-5.svg" alt=""></span>'
							}}
							{{>menu-item title="Креми для обличчя"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-6.svg" alt=""></span>'
							}}
							{{>menu-item title="Засоби для шкіри навколо очей"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-7.svg" alt=""></span>'
							}}
							{{>menu-item title="Захист від сонця"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-8.svg" alt=""></span>'
							}}
							{{>menu-item title="Маски для обличчя"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-9.svg" alt=""></span>'
							}}
						{{/sub-menu}}
					{{/menu-item}}
					{{#>menu-item title="Волосся" modifier="has-mega-menu" mega-menu=true}}
						{{#>sub-menu}}
							{{>menu-item title="Шампуні"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-10.svg" alt=""></span>'
							}}
							{{>menu-item title="Кондиціонери"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-11.svg" alt=""></span>'
							}}
							{{>menu-item title="Усі засоби"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-12.svg" alt=""></span>'
							}}
							{{>menu-item title="Маски для волосся"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-13.svg" alt=""></span>'
							}}
							{{>menu-item title="Незмивні засоби для волосся"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-14.svg" alt=""></span>'
							}}
						{{/sub-menu}}
					{{/menu-item}}
					{{#>menu-item title="Тіло" modifier="has-mega-menu-column" mega-menu=true}}
						{{#>sub-menu}}
							{{>menu-item title="Очищення"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-15.svg" alt=""></span>'
							}}
							{{>menu-item title="Зволоження"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-16.svg" alt=""></span>'
							}}
							{{>menu-item title="Скраби та пілінги"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-17.svg" alt=""></span>'
							}}
							{{>menu-item title="Усі засоби"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-18.svg" alt=""></span>'
							}}
						{{/sub-menu}}
					{{/menu-item}}
					{{#>menu-item title="Про компанію" modifier="has-mega-menu" mega-menu=true}}
						{{#>sub-menu}}
							{{>menu-item title="Про нас"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-19.svg" alt=""></span>'
							}}
							{{>menu-item title="Доставка та оплата"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-20.svg" alt=""></span>'
							}}
							{{>menu-item title="Блог"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-21.svg" alt=""></span>'
							}}
							{{>menu-item title="Правила користування сайтом"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-22.svg" alt=""></span>'
							}}
							{{>menu-item title="FAQ"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-23.svg" alt=""></span>'
							}}
							{{>menu-item title="Контакти"
									before='<span><img class="menu-header-main__img" src="assets/images/image-category-24.svg" alt=""></span>'
							}}
						{{/sub-menu}}
					{{/menu-item}}
				{{/menu}}
			</div>
		</div>
	</div>
</div>

{{#>popup id="popup-menu"}}
	<img src="{{root}}assets/images/contact-bg.png" alt="" class="object-fit-cover object-fit">
	<div class="popup__item">
		<h2 class="popup__item_title-popup">Вкажіть ваші дані та ми обов’язково з вами зв’яжемось</h2>
		{{#> gform-form
				showError=false
				showConfirmation=false
		}}
			{{#> gform-body showError=showError}}
				{{> gform-singleLineText
						showError=showError
						customClass=""
						hideLabel=false
						labelText="Ваше Ім’я*"
						typeTextOrPassword="text"
						fieldSize="medium"
						placeholderText=""
				}}

				{{> gform-phone
						showError=showError
						customClass=""
						hideLabel=false
						labelText="Ваш номер телефону*"
						fieldSize="medium"
				}}
				{{> gform-consent
						showError=showError
						customClass="gfield_consent"
						hideLabel=false
						labelText=""
						required=false
						checkboxLabel="Не телефонуйте мені, а краще напишіть у месенджер"
						descriptionText=""
				}}

				{{> gform-singleLineText
						showError=showError
						customClass=""
						hideLabel=false
						labelText="Нік у соцмережах (Instagram, Facebook, Telegram)*"
						required=true
						typeTextOrPassword="text"
						fieldSize="medium"
						placeholderText=""
						descriptionText=""
				}}

				{{> gform-singleLineText
						showError=showError
						customClass=""
						hideLabel=false
						labelText="Назва процедури, на яку бажаєте записатись"
						required=true
						typeTextOrPassword="text"
						fieldSize="medium"
						placeholderText=""
						descriptionText=""
				}}

				{{> gform-footer
						type="button"
						text="підтвердити запис"
				}}
			{{/gform-body}}
		{{/gform-form}}
	</div>
{{/popup}}



