<ul class="pagination">
	<li><a class="prev" href="#"></a></li>
	<li><span aria-current="page" class="current">1</span></li>
	<li><a href="#">2</a></li>
	<li><span class="dots">…</span></li>
	<li><a href="#">20</a></li>
	<li><a class="next" href="#"></a></li>
</ul>
