---
pageTitle: Thank You
---

<link rel="stylesheet" href="{{root}}assets/css/thank-you.css">
<section class="thank-you">
	<div class="inner">
		<div class="thank-you__wrapper">
			<h1 class="thank-you__title">Thank You!</h1>
			<h2 class="thank-you__h2">We will be in touch with you shortly</h2>
			<p class="thank-you__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim, ac odio fermentum mi
				blandit. Quis ac iaculis odio quis.</p>
		</div>
		<div class="thank-you__wrapper-social-links">
			<h3 class="thank-you__subtitle">Follow us on Social!</h3>
			{{>social-links class="social-links_color social-links_size_50 social-links_gap_20"}}
		</div>
		<div class="thank-you__wrapper-buttons">
			<a class="thank-you__button btn" href="#">Back to Home</a>
		</div>
	</div>
</section>
