@import "../../variables-and-mixins.pcss";

.blog-title {
	font-family: $font-family-raleway;
	font-size: 32px;
	font-weight: 500;
	line-height: 42px;
	letter-spacing: 0;
	text-align: center;
	margin: 32px 0;
	text-transform: uppercase;

	@media (--lg) {
		margin-top: 65px;
	}
}
