<section class="blog-preview">
	<div class="inner">
		<div class="blog-preview__wrapper">
			{{>blog-preview-item
					class="blog-preview__item_first"
					image="assets/images/blog-post-1.jpg"
					date="Грудень 30, 2023"
					category="Догляд"
					title="Підбірка антивікових процедур"
					excerpt="Не всі знають, що процес старіння шкіри починається вже з 25-ти років.
					Цей нюанс обов’яз... "
			}}
			{{>blog-preview-item
					image="assets/images/blog-post-2.jpg"
					date="Грудень 30, 2023"
					category="Догляд"
					title="процедура «Червоної доріжки» від IS CLINICAL"
					excerpt="Нагадуємо, що в нашій клініці представлені професійні засоб..."
			}}
			{{>blog-preview-item
					image="assets/images/blog-post-2.jpg"
					date="Грудень 30, 2023"
					category="Догляд"
					title="процедура «Червоної доріжки» від IS CLINICAL"
					excerpt="Нагадуємо, що в нашій клініці представлені професійні засоб..."
			}}
		</div>
	</div>
</section>
