<aside class="blog-sidebar">
	<div class="blog-sidebar__categories">
		<h2 class="blog-sidebar__title">Категорії</h2>
		<ul class="categories">
			<li class="categories__item"><a href="#" class="categories__link active">Усі статті</a></li>
			<li class="categories__item"><a href="#" class="categories__link">Догляд</a></li>
			<li class="categories__item"><a href="#" class="categories__link">Косметика</a></li>
			<li class="categories__item"><a href="#" class="categories__link">Новини</a></li>
		</ul>
	</div>
</aside>
