<li class="blog-articles__item">
	<article class="blog-article accessibility-card">
		<div class="blog-article__thumbnail">
			<img class="blog-article__image" src="{{root}}assets/images/blog-post-3.jpg" alt="">
		</div>
		<div class="blog-article__content">
			<div class="blog-article__posted">Грудень 30, 2023 | Догляд</div>
			<aside class="blog-article-categories blog-article__categories" aria-label="Categories">
				<a class="blog-article-categories__link" href="#" rel="category tag">Догляд</a>
			</aside>
			<h2 class="blog-article__title title">
				<a class="blog-article__link" href="#" aria-describedby="read-more-{{index}}">
					процедура «Червоної доріжки» від IS CLINICAL
				</a>
			</h2>
			<p class="blog-article__except">
				Нагадуємо, що в нашій клініці представлені професійні засоби всесвітньо відомого бренду Is Clinical
			</p>
			<a href="google.com" class="blog-article__more">Читати більше</a>
		</div>
	</article>
</li>
