<dialog id="{{id}}">
	<div class="popup{{#if class}} {{class}}{{/if}}">
		<div class="popup__content">
			{{>@partial-block}}
		</div>
		<button class="popup__close-btn" type="button" autofocus>
			{{svgInline "popup-close.svg" "popup__close-icon"}}
			<span class="popup__close-text">Close</span>
		</button>
	</div>
</dialog>
