@import "../../variables-and-mixins.pcss";
@import "../../../../base/defaults/styles/parts/second/social-links.pcss";

.social-links {
	margin-bottom: 0;
	text-align: left;
	max-height: max-content;

	&_size_30 &__link {
		width: 24px;
		height: 24px;
	}

	&__link {
		width: 24px;
		height: 24px;
		margin: 0;
	}
}
