<li class="blog-articles__item">
	<article class="blog-article accessibility-card">
		<div class="blog-article__thumbnail">
			<img class="blog-article__image" src="{{root}}assets/images/blog/blog-post.jpg" alt="">
		</div>
		<div class="blog-article__content">
			<h2 class="blog-article__title title">
				<a class="blog-article__link" href="#" aria-describedby="read-more-{{index}}">
					Lorem ipsum dolor sit amet, consectetur?
				</a>
			</h2>
			<p class="blog-article__except">Lorem ipsum dolor sit amet consectetur. Risus rutrum auctor vitae laoreet.
				Tortor at aliquet egestas adipiscing amet nisi accumsan. Nullam morbi tortor neque... <span
					class="blog-article__more" aria-hidden="true" id="read-more-{{index}}">more</span>
			</p>
			<div class="blog-article__posted">June 30, 2023</div>
			<aside class="blog-article-categories blog-article__categories" aria-label="Categories">
				<a class="blog-article-categories__link" href="#" rel="category tag">Remodel</a>
				<a class="blog-article-categories__link" href="#" rel="category tag">Cabinets</a>
			</aside>
		</div>
	</article>
</li>
