<aside class="blog-sidebar">
	{{#if banner}}
		<div class="blog-sidebar__banner">
			<img src="{{root}}assets/images/blog/blog-post-sidebar.jpg" class="blog-sidebar__banner-image" alt="">
		</div>
	{{/if}}
	<div class="blog-sidebar__categories">
		<h2 class="blog-sidebar__title">Blog Categories</h2>
		<ul class="categories">
			<li class="categories__item"><a href="#" class="categories__link">Remodel</a></li>
			<li class="categories__item"><a href="#" class="categories__link">Cabinets</a></li>
			<li class="categories__item"><a href="#" class="categories__link">Bathroom Remodeling</a></li>
			<li class="categories__item"><a href="#" class="categories__link">Countertops</a></li>
			<li class="categories__item"><a href="#" class="categories__link">Flooring</a></li>
			<li class="categories__item"><a href="#" class="categories__link">Electrical</a></li>
			<li class="categories__item"><a href="#" class="categories__link">Lorem</a></li>
			<li class="categories__item"><a href="#" class="categories__link">Lorem</a></li>
			<li class="categories__item"><a href="#" class="categories__link">Lorem Ipsum</a></li>
		</ul>
	</div>
	{{#if archive}}
		<div class="blog-sidebar__archive">
			<h2 class="blog-sidebar__title">Archive</h2>
			<ul class="archive">
				<li class="archive__item"><a href="#" class="archive__link">July, 2023</a></li>
				<li class="archive__item"><a href="#" class="archive__link archive__link_current">June, 2023</a></li>
				<li class="archive__item"><a href="#" class="archive__link">May, 2023</a></li>
				<li class="archive__item"><a href="#" class="archive__link">April, 2023</a></li>
				<li class="archive__item"><a href="#" class="archive__link">March, 2023</a></li>
				<li class="archive__item"><a href="#" class="archive__link">February, 2023</a></li>
				<li class="archive__item"><a href="#" class="archive__link">January, 2023</a></li>
				<li class="archive__item"><a href="#" class="archive__link">December, 2022</a></li>
				<li class="archive__item"><a href="#" class="archive__link">November, 2022</a></li>
				<li class="archive__item"><a href="#" class="archive__link">October, 2022</a></li>
				<li class="archive__item"><a href="#" class="archive__link">September, 2022</a></li>
				<li class="archive__item"><a href="#" class="archive__link">August, 2022</a></li>
			</ul>
		</div>
	{{/if}}
</aside>
