<section class="blog-preview">
	<div class="inner">
		<div class="blog-preview__wrapper">
			{{>blog-preview-item
				class="blog-preview__item_first"
				image="assets/images/blog/blog-banner.jpg"
				date="June 30, 2023"
				category="Remodel"
				title="Lorem ipsum dolor sit amet consectetur. Mollis dolor rutrum morbi
						placerat semper pellentesque non urna."
			}}
			{{>blog-preview-item
				image="assets/images/blog/blog-banner.jpg"
				date="June 22, 2023"
				category="Cabinets"
				title="Lorem ipsum dolor sit amet consectetur. Mollis dolor rutrum morbi
						placerat."
			}}
			{{>blog-preview-item
				image="assets/images/blog/blog-banner.jpg"
				date="March 22, 2023"
				category="Remodel"
				title="Lorem ipsum dolor sit amet consectetur."
			}}
		</div>
	</div>
</section>
